h1{
    text-align: center;
    background-color: black;
    color: white;
}

#banner{
    width: 100%;
}

p{
    line-height: 1.5;
    font-family: Calibri;
    font-size: 16px;
}

li{
    line-height: 1.5;
    font-family: Calibri;
    font-size: 16px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

h2{
    text-align: center;
    color: rgb(80, 42, 42);
}

.imgdireita{
    width: 50%;
    float: right;
    margin-right: 20px;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.beneficios{
    width: 100%;
    background: orange;
	padding: 30px;
}