.principal{
	background: #CCCCCC;
	padding: 30px;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

#banner{
    width: 100%;
}

/*xxxxxxxxxxxxxxxxxx BENEFICIOS xxxxxxxxxxxxxxxxxx*/
.beneficios{
    background: orange;
	padding: 20px;
}

h2{
    text-align: center;
    color: rgb(80, 42, 42);
}

p{
    line-height: 1.5;
    font-family: Calibri;
    font-size: 16px;
}

li{
    line-height: 1.5;
    font-family: Calibri;
    font-size: 16px;
}

ul{
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	margin-right: 15%;
}
.imgbeneficios{
    width: 40%;
    margin-left: 15%;
}