.principal{
	background: #CCCCCC;
	padding: 30px;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

#banner{
    width: 100%;
}

/*xxxxxxxxxxxxxxxxxx BENEFICIOS xxxxxxxxxxxxxxxxxx*/
.beneficios{
    background: orange;
	padding: 10px;
}

h2{
    text-align: center;
    color: rgb(80, 42, 42);
}

p{
    line-height: 1.5;
    font-family: Calibri;
    font-size: 16px;
}

.lista{
    display: inline-block;
    width: 50%;
}

li{
    line-height: 1.5;
    font-family: Calibri;
    font-size: 16px;
}

ul{
    width: 30%;
}

.imgdireita{
    display: inline-block;
    width: 50%;
}

.imgbeneficios{
    width: 30%;
}